{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}
{% block footer %}
<script>
    $(document).ready(function () {
        $('#formForgot').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                }
            }
        });
    });

</script>

{% endblock %}

{% block body %}

<section class="reset_password">
    <div class="container my-3">
        <header>
            <h1>Request password reset</h1>
        </header>

        <div class="row">
            <div class="col-sm-12 mb-4">
                <form method="post" action="/password/request-reset" id="formForgot">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus required
                            class="form-control" />
                    </div>
                    <div class="col-sm-12 my-1">
                        <button type="submit" class="button">Send</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}