{% extends 'base.html' %}

{% block title %}Balance review{% endblock %}


{% block footer %}
<script src="/js/app.js"></script>
<script src="/js/charts.js"></script>
<script>

    // var startDate = new Date($('#start').val());
    // var endDate = new Date($('#end').val());

    // if (startDate > endDate) {
    //     alert('zla data')
    // }

    // var date1 = document.getElementById('start').value;
    // var date2 = document.getElementById('end').value;
    // // var dateObjFrom = getDateObj(date1)
    // // var dateObjTo = getDateObj(date1)
    // if (date1 > date2) {
    //     alert('Date From is greater')
    // }

    const select = document.getElementById('period');
    // const box = document.getElementById('hidden');

    select.addEventListener('change', function handleChange(event) {
        if (event.target.value === 'custom') {
            document.getElementById("customDiv").hidden = false;
            // box.style.visibility = 'visible';
        } else {
            document.getElementById("customDiv").hidden = true;
            // box.style.visibility = 'hidden';
        }
    });

    //chart Incomes:
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainerIncomes", {
            animationEnabled: true,
            title: {
                text: "Incomes pie chart"
            },
            subtitles: [{
                text: ""
            }],
            data: [{
                type: "pie",
                yValueFormatString: "#,##0.00\"PLN\"",
                indexLabel: "{label} ({y})",
                //dataPoints: <? php echo json_encode($_SESSION['dataPointsIncomes'], JSON_NUMERIC_CHECK); ?>
                //dataPoints: "{{ array|json_encode(dataPointsIncomes and constant('JSON_PRETTY_PRINT')) }}"
                //dataPoints: "{{ data|json_encode(dataPointsIncomes and constant('JSON_NUMERIC_CHECK')) }}"
                dataPoints: {{ dataPointsIncomes| json_encode | raw }}
        }]
    });
    chart.render();

    //chart Expenses:
    var chart = new CanvasJS.Chart("chartContainerExpenses", {
        animationEnabled: true,
        title: {
            text: "Expenses pie chart"
        },
        subtitles: [{
            text: ""
        }],
        data: [{
            type: "pie",
            yValueFormatString: "#,##0.00\"PLN\"",
            indexLabel: "{label} ({y})",
            dataPoints: {{ dataPointsExpenses| json_encode | raw }}
        }]
    });
    chart.render();
}
</script>
{% endblock %}

{% block body %}
<style>
    /* table {
        border: 40px solid rgb(8, 8, 8);
    }*/
</style>
<section class="balance">
    <div class="container my-3">
        <header>
            <h1>Balance review</h1>
            <p>Check balance (incomes, expenses) from selected time period</p>
        </header>
        <div class="row g-2">
            <div class="col-sm-6 mb-4">
                <form action="/balance/create" method="post" id="formBalance">
                    <div class="form-group">
                        <label for="period">Balance from which time period do you want to see?</label>
                        <select name="period" id="period" class="form-control">
                            <option value="prevM">Previous month</option>
                            <option value="currentM" selected>Current month </option>
                            <option value="year">This year</option>
                            <option value="custom">Select period</option>
                        </select>
                        <br>
                        <div id="customDiv" hidden class="row">
                            <div class="col">
                                <label for="start">Date from:</label>
                                <input type="date" id="start" name="start" min="2010-01-01"
                                    class="form-control form-control-sm">
                            </div>
                            <div class="col">
                                <label for="end">Date to:</label>
                                <input type="date" id="end" name="end" min="2010-01-01"
                                    class="form-control form-control-sm">
                            </div>

                        </div>
                        {% if error_date %}
                        <span style="color: red">{{ error_date }}</span>
                        {% endif %}
                        <br>
                        <input type="submit" class="button" value="Show balance">
                        <br><br>
                    </div>
                </form>
            </div>

            {% if min_date and max_date %}
            <h6>Start date: {{min_date}} </h6>
            <h6>End date: {{max_date}}</h6>
            {% else %}
            <h6>Start date: not selected </h6>
            <h6>End date: not selected </h6>
            {% endif %}

            {% if not error_date %}
            {% if user_incomes is not null or user_expenses is not null %}
            <div class="col-sm-6 mb-4 p-4">
                <h2 class="h4">Incomes</h2>
                <table class="table table-bordered table-sm table-hover border border-5">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Sum [PLN]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incomes in user_incomes %}
                        <tr>
                            <td>{{ incomes.name }}</td>
                            <td>{{ incomes.sumOfIncome }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td style="font-weight: bold;">{{ sumIncomes }}</td>
                        </tr>
                    </tfoot>
                </table>
                {% if user_incomes is not empty %}
                <div id="chartContainerIncomes" style="height: 370px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                {% else %}
                <h4><span style="color: green">You have no incomes in selected period!</span></h4>
                {% endif %}
            </div>

            <div class="col-sm-6 mb-4 p-4">
                <h2 class="h4">Expenses</h2>
                <table class="table table-bordered table-sm table-hover border border-5">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Sum [PLN]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_expenses in user_expenses %}
                        <tr>
                            <td>{{ user_expenses.name }}</td>
                            <td>{{ user_expenses.sumOfExpense }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td style="font-weight: bold;">{{ sumExpenses }}</td>
                        </tr>
                    </tfoot>
                </table>
                {% if user_expenses is not empty %}
                <div id="chartContainerExpenses" style="height: 370px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                {% else %}
                <h4><span style="color: green">You have no expenses in selected period!</span></h4>
                {% endif %}
            </div>
            <div class="col-sm-12" style="justify-content: center; display: flex;">
                {% if sumExpenses < sumIncomes %} <h4><span style="color: green;"">Difference between incomes and expenses:  {{sumIncomes - sumExpenses}} PLN </span></h4>
                {% else %}
                <h4><span style=" color: red;"">Difference between incomes and expenses: {{(sumIncomes -
                        sumExpenses)|number_format(2, '.', ',')}}
                        PLN
                    </span></h4>
                    {% endif %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>


</section>

{% endblock %}