{% extends 'base.html' %}

{% block title %}Balance review{% endblock %}


{% block footer %}
<script>
    const select = document.getElementById('period');
    // const box = document.getElementById('hidden');

    select.addEventListener('change', function handleChange(event) {
        if (event.target.value === 'custom') {
            document.getElementById("customDiv").hidden = false;
            // box.style.visibility = 'visible';
        } else {
            document.getElementById("customDiv").hidden = true;
            // box.style.visibility = 'hidden';
        }
    });

    //chart Incomes:
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainerIncomes", {
            animationEnabled: true,
            title: {
                text: "Incomes pie chart"
            },
            subtitles: [{
                text: ""
            }],
            data: [{
                type: "pie",
                yValueFormatString: "#,##0.00\"PLN\"",
                indexLabel: "{label} ({y})",
                //dataPoints: <? php echo json_encode($_SESSION['dataPointsIncomes'], JSON_NUMERIC_CHECK); ?>
                //dataPoints: "{{ array|json_encode(dataPointsIncomes and constant('JSON_PRETTY_PRINT')) }}"
                //dataPoints: "{{ data|json_encode(dataPointsIncomes and constant('JSON_NUMERIC_CHECK')) }}"
                dataPoints: {{ dataPointsIncomes| json_encode | raw }}
        }]
    });
    chart.render();

    //chart Expenses:
    var chart = new CanvasJS.Chart("chartContainerExpenses", {
        animationEnabled: true,
        title: {
            text: "Expenses pie chart"
        },
        subtitles: [{
            text: ""
        }],
        data: [{
            type: "pie",
            yValueFormatString: "#,##0.00\"PLN\"",
            indexLabel: "{label} ({y})",
            dataPoints: {{ dataPointsExpenses| json_encode | raw }}
        }]
    });
    chart.render();
}
</script>
{% endblock %}

{% block body %}
<section class="balance">
    <div class="container my-3">
        <header>
            <h1>Balance review</h1>
            <p>Check balance (incomes, expenses) from selected time period</p>
        </header>
        <div class="row g-2">
            <div class="col-sm-12 mb-4">
                <form action="/balance/create" method="post" id="formBalance">
                    <div class="form-group">
                        <label for="period">Balance from which time period do you want to see?</label>
                        <select name="period" id="period" class="form-control">
                            <option value="prevM">Previous month</option>
                            <option value="currentM" selected>Current month </option>
                            <option value="year">This year</option>
                            <option value="custom">Select period</option>
                        </select>
                        <br>
                        <div id="customDiv" hidden class="row">
                            <div class="col">
                                <label for="start">Date from:</label>
                                <input type="date" name="start" min="2010-01-01" class="form-control form-control-sm">
                            </div>
                            <div class="col">
                                <label for="end">Date to:</label>
                                <input type="date" name="end" min="2010-01-01" class="form-control form-control-sm">
                            </div>

                        </div>
                        {% if error_date %}
                        {{ error_date }}
                        {% endif %}
                        <br>
                        <input type="submit" class="button" value="Show balance">
                        <br><br>
                </form>
            </div>
        </div>

        {% if user_incomes is not null or user_expenses is not null %}
        <span>Start date: {{min_date}} </span><span>End date: {{max_date}}</span>
        <div class="col-sm-6 mb-4">
            <h2 class="h4">Incomes</h2>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_incomes in user_incomes %}
                    <tr>
                        <td>{{ user_incomes.name }}</td>
                        <td>{{ user_incomes.sumOfIncome }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div id="chartContainerIncomes" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        <div class="col-sm-6 mb-4">
            <h2 class="h4">Expenses</h2>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_expenses in user_expenses %}
                    <tr>
                        <td>{{ user_expenses.name }}</td>
                        <td>{{ user_expenses.sumOfExpense }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div id="chartContainerExpenses" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
        {% endif %}

    </div>
    </div>

</section>

{% endblock %}