{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<main>
    <section class="pagedescription">
        <div class="container">
            <header>
                <h1>Home Budget - WEB app</h1>
                <h2>Manage your budget whenever you want. Create free account and take control over your life!</h2>
                <h3><a href="/login/new">Log in</a> or <a href="/signup/new">create new account.</a></h3>
            </header>
        </div>
    </section>

</main>

{% endblock %}