{% extends 'base.html' %}

{% block title %}Add Expense{% endblock %}
{% block footer %}
<!-- <script src="/js/limit.js"></script> -->
<script>
    $(document).ready(function () {
        $('#formAddExpense').validate({
            errorClass: 'error',
            rules: {
                amount: {
                    required: true,
                    max: 1000000,
                    min: "0.01"
                },
                date: {
                    required: true,
                    min: '2022-01-01'
                },
                category: 'required',
                comment: {
                    maxlength: 100
                }, payment_method: 'required'

            },
            messages: {
                amount: {
                    max: 'Amount max. 1.000.000PLN',
                    min: 'Amount min. 0.01PLN'
                },
                date: 'Date min. 2022-01-01',
                comment: 'Please type max. 100 characters'
            }
        });
    });
</script>
{% endblock %}
{% block body %}

<section class="addExpense">
    <div class="container my-3">
        <header>
            <h1>Add expense</h1>
            <p>In this section you can add your expenses, so pick a date, category, and if
                you want, leave a comment about this expenditure</p>
            {% if expenses.errors is not empty %}
            <p>Errors:</p>
            <ul>
                {% for error in expenses.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </header>
        <form action="/addExpense/create" method="post" id="formAddExpense">
            <div class="row g-2">
                <div class="col-sm-6 mb-4">
                    <div class="form-group">
                        <label>Amount: PLN</label>
                        <input type="number" id="amount" name="amount" step="0.01" class="form-control" min="0.01"
                            max="1000000">
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="form-group">
                        <label for="date">Enter a date:</label>
                        <input type="date" id="date" name="date" class="form-control form-control-sm">
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="payment_method">Payment method:</label>
                        <select name="payment_method" id="payment_method" class="form-control">
                            <option value="">--Please choose an option--</option>
                            {% for method in pay_method %}
                            <option value={{method.id}}> {{method.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 mb-4">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select id="category" name="category" class="form-control">
                            <option value="">--Please choose an option--</option>
                            {% for category in expense_cat %}
                            <option value={{category.id}}> {{category.name}}</option>
                            {% endfor %}
                        </select>
                        <h5 id="limit" style="color: red"></h5>
                        <h5 id="sum" style="color: red"></h5>
                        <h5 id="difference"></h5>
                    </div>
                </div>

                <div class="col-sm-12 mb-4">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <br>
                        <textarea id="comment" name="comment" rows="3" cols="50" class="form-control"
                            style="resize: none;"></textarea>
                    </div>

                </div>
                <div class="col-sm-12 my-1">
                    <input type="submit" class="button" value="Add expense">
                    <input class="button" type="button" onclick="window.location.replace('/')" value="Cancel">

                </div>
            </div>
        </form>
    </div>
</section>

<script>
    const category = document.querySelector('#category');
    const date = document.querySelector('#date');
    const amount = document.querySelector('#amount');
    const limitHeading = document.getElementById("limit");
    const sumFromSelectedMonth = document.getElementById("sum");
    const difference = document.getElementById('difference');
    let selectedCategory = null;
    let selectedDate = null;
    let json_sum = null;
    let json_limit = null;
    let insertedAmount = 0;

    const clearData = () => {
        limitHeading.textContent = '';
        difference.textContent = '';
        sumFromSelectedMonth.textContent = '';
    }

    const renderOnDom = (json_limit, json_sum, diff) => {

        if (json_sum > 0) {
            sumFromSelectedMonth.textContent = `Sum expenses from selected month: ${json_sum} PLN`;
        } else {
            sumFromSelectedMonth.style.color = "green";
            sumFromSelectedMonth.textContent = `You have no expenses in selected month.`;
        }

        if (diff > 0/* || json_limit === NaN || json_sum === NaN || insertedAmount === NaN*/) {
            diff = parseFloat(diff).toFixed(2);
            difference.style.color = "green";
            difference.textContent = `Still available from your limit: ${diff} PLN`;
        } else if (diff === 0) {
            diff = parseFloat(diff).toFixed(2);
            difference.style.color = "red";
            difference.textContent = `Your budget is close to exceeded! Difference: ${diff} PLN`;
        } else {
            diff = parseFloat(diff).toFixed(2);
            difference.style.color = "red";
            difference.textContent = `Your budget is exceeded! Difference: ${diff} PLN`;
        }

    }


    const calculateLimits = (json_limit, json_sum, insertedAmount) => {
        const diff = json_limit - json_sum - insertedAmount;
        console.log(diff);
        return diff;
    }

    const checkLimit = async (insertedAmount) => {

        if (json_limit !== null/* && json_sum !== null*/) {
            json_sum = await getSumOfExpensesForSelectedMonth(selectedCategory, selectedDate);
            console.log(json_sum);

            const diff = calculateLimits(json_limit, json_sum, insertedAmount);
            renderOnDom(json_limit, json_sum, diff);

        } else {
            sumFromSelectedMonth.textContent = '';
            difference.textContent = '';
        }
    }
    amount.addEventListener("input", function () {
        if (amount.value === "" || amount.value === "0") {
            insertedAmount = 0;
        } else {
            insertedAmount = parseFloat(amount.value).toFixed(2);
            console.log(insertedAmount);
        }
        if (selectedCategory && selectedDate && insertedAmount) {
            setTimeout(() => {
                checkLimit(insertedAmount);
            }, 500);

        }
    });

    category.addEventListener("change", async function () {
        selectedCategory = category.value;
        // insertedAmount = parseFloat(amount.value);
        // insertedAmount = amount.value || 0;
        if (amount.value === "" || amount.value === "0") {
            insertedAmount = 0;
        } else {
            insertedAmount = parseFloat(amount.value);
        }
        if (selectedCategory && selectedDate) {
            json_limit = await getLimitForCategory(selectedCategory);
            console.log(json_limit);
            setTimeout(() => {
                checkLimit(insertedAmount);
            }, 500);
        } else if (selectedCategory) {
            json_limit = await getLimitForCategory(selectedCategory);
            console.log(json_limit);
        } else {
            clearData();
        }
    });

    date.addEventListener("change", async function () {
        selectedDate = date.value;
        // insertedAmount = parseFloat(amount.value);
        // insertedAmount = amount.value || 0;
        // if (amount.value === "" || amount.value === "0") {
        //     insertedAmount = 0;
        // } else {
        //     insertedAmount = parseFloat(amount.value);
        // }
        // selectedCategory = category.value;
        if (selectedCategory && selectedDate) {
            setTimeout(() => {
                checkLimit(insertedAmount);
            }, 300);
        } else {
            // clearData();
            difference.textContent = '';
            sumFromSelectedMonth.textContent = '';
        }
    });



    const getSumOfExpensesForSelectedMonth = async (category_id, date_id) => {
        const res = await fetch(`http://localhost:8080/api/sum/${category_id}?date=${date_id}`);
        const data = await res.json();
        return data;
    }

    const getLimitForCategory = async (category_id) => {
        const res = await fetch(`http://localhost:8080/api/limit/${category_id}`);
        const json_lim = await res.json();
        // console.log(json_lim);
        if (json_lim !== null) {
            limitHeading.textContent = `Limit for selected category: ${json_lim} PLN`;
        } else {
            clearData();
        }
        return json_lim;
    }
</script>
{% endblock %}