{% extends 'base.html' %}

{% block title %}Add Expense{% endblock %}
{% block footer %}
<!-- <script src="/js/limit.js"></script> -->
<script>
    $(document).ready(function () {
        $('#formAddExpense').validate({
            errorClass: 'error',
            rules: {
                amount: {
                    required: true,
                    max: 1000000,
                    min: "0.01"
                },
                date: {
                    required: true,
                    min: '2022-01-01'
                },
                category: 'required',
                comment: {
                    maxlength: 100
                }, payment_method: 'required'

            },
            messages: {
                amount: {
                    max: 'Amount max. 1.000.000PLN',
                    min: 'Amount min. 0.01PLN'
                },
                date: 'Date min. 2022-01-01',
                comment: 'Please type max. 100 characters'
            }
        });
    });
</script>
{% endblock %}
{% block body %}

<section class="addExpense">
    <div class="container my-3">
        <header>
            <h1>Add expense</h1>
            <p>In this section you can add your expenses, so pick a date, category, and if
                you want, leave a comment about this expenditure</p>
            {% if expenses.errors is not empty %}
            <p>Errors:</p>
            <ul>
                {% for error in expenses.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </header>
        <form action="/addExpense/create" method="post" id="formAddExpense">
            <div class="row g-2">
                <div class="col-sm-6 mb-4">
                    <div class="form-group">
                        <label>Amount: PLN</label>
                        <input type="number" id="amount" name="amount" step="0.01" class="form-control">
                    </div>
                </div>

                <div class="col-sm-6 mb-4">
                    <div class="form-group">
                        <label for="date">Enter a date:</label>
                        <input type="date" id="date" name="date" class="form-control form-control-sm">
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="payment_method">Payment method:</label>
                        <select name="payment_method" id="payment_method" class="form-control">
                            <option value="">--Please choose an option--</option>
                            {% for method in pay_method %}
                            <option value={{method.id}}> {{method.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 mb-4">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select id="category" name="category" class="form-control">
                            <option value="">--Please choose an option--</option>
                            {% for category in expense_cat %}
                            <option value={{category.id}}> {{category.name}}</option>
                            {% endfor %}
                        </select>
                        <h5 id="limit" style="color: red"></h5>
                        <h5 id="sum" style="color: red"></h5>
                    </div>
                </div>

                <div class="col-sm-12 mb-4">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <br>
                        <textarea id="comment" name="comment" rows="3" cols="50" class="form-control"
                            style="resize: none;"></textarea>
                    </div>

                </div>
                <div class="col-sm-12 my-1">
                    <input type="submit" class="button" value="Add expense">
                    <input class="button" type="button" onclick="window.location.replace('/')" value="Cancel">
                    <!-- <input type="submit" class="button" value="Cancel"> -->
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    const category = document.querySelector('#category');
    const date = document.querySelector('#date');
    const limitHeading = document.getElementById("limit");
    const sumFromSelectedMonth = document.getElementById("sum");

    category.addEventListener("change", async function () {
        const json = await getLimitForCategory();
        limitHeading.textContent = `Limit: ${json.limit} PLN`;
        console.log(json);
    });

    date.addEventListener("change", async function () {
        const json1 = await getSumOfExpensesForSelectedMonth();
        sumFromSelectedMonth.textContent = `Sum expenses from selected month: ${json1} PLN`;
        console.log(json1);
    });

    const getSumOfExpensesForSelectedMonth = async () => {
        const category_id = category.value;
        const date_id = date.value;
        const res = await fetch(`http://localhost:8080/api/sum/${category_id}?date=${date_id}`);
        const data = await res.json();
        return data;
    }

    const getLimitForCategory = async () => {
        const category_id = category.value;
        const res = await fetch(`http://localhost:8080/api/limit/${category_id}`);
        const data = await res.json();
        return data;
    }


    // const category = document.querySelector('#category');
    // category.addEventListener("change", async function () {
    //     const selectedValue = this.value;
    //     const json = await getLimitForCategory({ id: selectedValue });
    //     // const limit = json.limit;

    //     const limitHeading = document.getElementById("limit");
    //     limitHeading.textContent = `Limit: ${json.limit}`;

    //     console.log(json);

    // });
    // const getLimitForCategory = async (category) => {
    //     const res = await fetch(`http://localhost:8080/api/limit/${category.id}`);
    //     const data = await res.json();
    //     return data;
    //     // limitHeading.textContent = `Limit: ${JSON.stringify(data)}`;
    // }


    //zmiana kategorii
    // const checkCategory = async (category) => {
    //     await getLimitForCategory(category);
    //     await checkLimit();
    // }
</script>
{% endblock %}