{% extends "base.html" %}

{% block title %}Your profile{% endblock %}

{% block body %}
<section class="Profile">
    <div class="container my-3">
        <header>
            <h1>Your profile</h1>
            <p>See your account details and edit them if you need.</p>
        </header>
        <div class="row g-2">
            <div class="col-sm-6 mb-4">
                <table class="table table-bordered table-sm table-hover border border-5">
                    <tbody>
                        <tr>
                            <th scope="row">Name:</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 my-1">
                <input class="button" type="button" onclick="window.location.replace('/profile/edit')" value="Edit">
            </div>
        </div>
    </div>
</section>

{% endblock %}